<div class="region region-footer layout-container mollo-footer">
  <div class="footer-logo">
    <a href="/">
      <img src="/{{ directory }}/media/logo/logo.svg" alt=" Logo">
    </a>
  </div>
  {{ page.footer }}

  <div class="footer-top">
    {{ page.footer_left }}
    {{ page.footer_right }}
  </div>

  <div class="footer-bottom">
    {{ page.footer_bottom_left }}
    {{ page.footer_bottom_right }}
  </div>

</div>
